.App{
  padding: 0px;
  margin:0px;
  background-image: linear-gradient(to right, rgb(48, 46, 46) ,rgb(243, 80, 80));
  color:white
}
#navbar{
  gap:50px;
}
#navbar a{
  font-size: 20px;
  
}
#navbar a:hover{
  font-size: 25px;
  color:rgb(243, 80, 80);
  transition: 0.6s;
}
button:hover{
  font-weight: bolder;
}
